:root {
  --font-ko-main: 'Pretendard', sans-serif;
  --font-ko-sub: 'Nanum Gothic', sans-serif;
  --font-en-main: 'Montserrat', sans-serif;
  --color-primary: #F3F4F6;
  --color-secondary: #0F766E;
}