/* CDN Fonts */
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

/* Font Faces */
@font-face {
  font-family: 'Cafe24Surround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'Cafe24Surround', sans-serif;
  --font-ko-sub: 'GowunDodum-Regular', 'Apple SD Gothic Neo', sans-serif;
  --font-en-main: 'BBH Bartle', sans-serif;
  --color-primary: #fafaf9;
  --color-secondary: #78716c;
}