:root {
  --font-ko-main: 'OngleipParkDahyeon', sans-serif;
  --font-ko-sub: 'OngleipParkDahyeon', sans-serif;
  --font-en-main: 'Poppins', sans-serif;
  --color-primary: #F5F5F5;
  --color-secondary: #1D3A5F;
}