:root {
  --font-ko-main: 'DaeguBukseongro', sans-serif;
  --font-ko-sub: 'DaeguBukseongro', sans-serif;
  --font-en-main: 'Poppins', sans-serif;
  --color-primary: #FFF9F1;
  --color-secondary: #B66E41;
}