/* Font Faces */
@font-face {
  font-family: 'CoolGuy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/CoolGuy-Medium.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'CoolGuy', sans-serif;
  --font-ko-sub: 'CoolGuy', sans-serif;
  --color-primary: #f7f9fb;
  --color-secondary: #85bfc1;
}