/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/bruno-ace-2');

/* Font Faces */
@font-face {
  font-family: 'JejuStoneWall';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'JeongseonArirangHon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirangHON-RegularA1.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'JejuStoneWall', sans-serif;
  --font-ko-sub: 'JeongseonArirangHon', sans-serif;
  --font-en-main: 'Bruno Ace', sans-serif;
  --color-primary: #F3F4F6;
  --color-secondary: #0F766E;
}