/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/bruno-ace-2');

/* Font Faces */
@font-face {
  font-family: 'JeongseonArirangHon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirangHON-RegularA1.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'KccSign';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'JeongseonArirangHon', sans-serif;
  --font-ko-sub: 'KccSign', sans-serif;
  --font-en-main: 'Bruno Ace', sans-serif;
  --color-primary: #F5F4F1;
  --color-secondary: #C36355;
}