:root {
  --font-ko-main: 'Nanum Myeongjo', sans-serif;
  --font-ko-sub: 'Noto Sans KR', sans-serif;
  --font-en-main: 'Raleway', sans-serif;
  --color-primary: #e6f3ff;
  --color-secondary: #658399;
}