:root {
  --font-ko-main: 'DaeguBukseongro', sans-serif;
  --font-ko-sub: 'DaeguBukseongro', sans-serif;
  --font-en-main: 'Montserrat', sans-serif;
  --color-primary: #152B41;
  --color-secondary: #839595;
}