:root {
  --font-ko-main: 'JeongseonArirangHon', sans-serif;
  --font-ko-sub: 'JejuStoneWall', sans-serif;
  --font-en-main: 'Bruno Ace', sans-serif;
  --color-primary: #F5F5F5;
  --color-secondary: #1D3A5F;
}