:root {
  --font-ko-main: 'Cafe24Surround', sans-serif;
  --font-ko-sub: 'SokchoSeaDotum', sans-serif;
  --font-en-main: 'Bruno Ace', sans-serif;
  --color-primary: #F5F4F1;
  --color-secondary: #C36355;
}